body {
    background-color: #137713;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.field {
    margin: auto;
    border-spacing: 5px;
}

.cell {
    position: relative;
    min-width: 120px;
    perspective: 600px;
}

.cell:after {
    content: '';
    box-sizing: border-box;
    display: block;
    margin-top: 140%;
}

.cell:before {
    content: '';
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    border-radius: 10px;
    border: dashed 1px #333;
}

.card {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.cardSide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #000 inset;
    backface-visibility: hidden;
}

.cardBack {
    background:
            radial-gradient(circle farthest-side at 0% 50%,#fb1 23.5%,rgba(240,166,17,0) 0)21px 30px,
            radial-gradient(circle farthest-side at 0% 50%,#B71 24%,rgba(240,166,17,0) 0)19px 30px,
            linear-gradient(#fb1 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#fb1 0)0 0,
            linear-gradient(150deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
            linear-gradient(30deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
            linear-gradient(90deg,#B71 2%,#fb1 0,#fb1 98%,#B71 0%)0 0 #fb1;
    background-size: 40px 60px;

}

.cardFace {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotateY(180deg);
}

.cardFlipped {
    transform: rotateY(180deg);
}